<!-- Cards -->
<section class="container" id="formacoes">
    <!-- Primeira linha de cards -->
    <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="d-flex flex-column align-items-center col-lg-12 col-md-12">
            <h2 class="h2 text-warning">Formações</h2>
            <p>Meus certificados e formações importantes</p>
        </div>

        <div class="col">
            <div class="card h-100">
                <i class="bi bi-journal-code text-warning display-1 py-2 px-3"></i>
                <div class="card-body">
                    <h5 class="card-title">Curso Técnico em Informática</h5>

                    <hr>
                    <p class="card-text">
                        Carga Horária: 1200 horas <br>
                        Instituição: Senac Santana <br>
                        Período: 03/2022 - 09/2023
                    </p>
                </div>

                <div class="card-footer">
                    <a href="https://www.sp.senac.br/cursos-tecnicos/curso-tecnico-em-informatica" target="_blank"
                        class="text-muted link-warning">Senac Santana</a>
                </div>

            </div>
        </div>

        <div class="col">
            <div class="card h-100">

                <i class="bi bi-volume-up text-warning display-1 py-2 px-3"></i>

                <div class="card-body">
                    <h5 class="card-title">Curso de Inglês para Adolescentes</h5>

                    <hr>
                    <p class="card-text">
                        Carga Horária: +- 520 horas <br>
                        Instituição: CCAA Tremembé <br>
                        Período: 03/2022 - 09/2023
                    </p>
                </div>

                <div class="card-footer">
                    <a href="https://www.ccaa.com.br/unidade/tremembe" target="_blank"
                        class="text-muted link-warning">CCAA Tremembé</a>
                </div>

            </div>
        </div>

        <div class="col">
            <div class="card h-100">

                <i class="fa-brands fa-redhat text-warning display-2 py-3 px-3"></i>
                <div class="card-body">
                    <h5 class="card-title">Red Hat System Administration I (RH124)</h5>

                    <hr>
                    <p class="card-text">
                        Carga Horária: 70 horas <br>
                        Instituição: Red Hat <br>
                        Emissão: 11/2022
                    </p>
                </div>

                <div class="card-footer">
                    <a href="https://www.redhat.com/pt-br/services/training/red-hat-academy" target="_blank"
                        class="text-muted link-warning">Red Hat</a>
                </div>

            </div>
        </div>

    </div>
    <!-- Segunda linha de cards -->
    <div class="row row-cols-1 row-cols-md-3 g-4 py-4 d-flex justify-content-center">

        <div class="col">
            <div class="card h-100">

                <i class="fa-solid fa-wifi text-warning display-2 py-3 px-3"></i>
                <div class="card-body">
                    <h5 class="card-title">IT Essentials: PC Hardware and Software</h5>

                    <hr>
                    <p class="card-text">
                        Carga Horária: 70 horas <br>
                        Instituição: Cisco <br>
                        Emissão: 11/2022
                    </p>
                </div>

                <div class="card-footer">
                    <a href="https://www.netacad.com/courses/os-it/it-essentials" target="_blank"
                        class="text-muted link-warning">Cisco</a>
                </div>

            </div>
        </div>

        <div class="col">
            <div class="card h-100">

                <i class="fa-brands fa-python text-warning display-2 py-3 px-3"></i>
                <div class="card-body">
                    <h5 class="card-title">Python Essentials 1</h5>
                    <hr>
                    <p class="card-text">
                        Carga Horária: 30 horas <br>
                        Instituição: Cisco <br>
                        Emissão: 06/2023
                    </p>
                </div>

                <div class="card-footer">
                    <a href="https://www.credly.com/badges/411cd676-4c02-4c95-ad5d-8755686a4e7b/linked_in_profile"
                        target="_blank" class="text-muted link-warning">Cisco</a>
                </div>

            </div>
        </div>

    </div>
</section>