<div>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-xl bg-dark navbar-dark py-5">
        <div class="container">
            <a href="#" class="navbar-brand">
                <h1 class="text-warning">Murillo Gomes</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
                <ul class="navbar-nav fs-5">
                    <li class="nav-item px-3">
                        <a href="#" class="nav-link">Sobre mim</a>
                    </li>
                    <li class="nav-item px-3">
                        <a href="#projetos" class="nav-link">Projetos</a>
                    </li>
                    <li class="nav-item px-3">
                        <a href="#contatos" class="nav-link">Contato</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Hero section -->
    <section class="container">
        <div class="row">
            <!-- Imagem ao lado esquerdo -->
            <div class="col-lg-6 d-flex flex-wrap align-content-center">
                <img src="img/penguins/mu penguiin.jpg" width="70%"
                    class="img-fluid rounded-5 mx-auto d-block d-none d-lg-block" alt="imagem teste">
            </div>
            <!-- texto ao lado direito -->
            <div class="col-lg-6 d-flex flex-column align-content-center">

                <h1 class="display-2 fw-bold">Desenvolvedor <span class="text-warning">Full-Stack</span> & Linux
                    Lover</h1>
                <p class="fs-4">Brasil - São Paulo</p>

                <div class="d-grid gap-2">
                    <button class="btn btn-outline-warning btn-lg">Entrar em contato</button>
                </div>

            </div>
        </div>
    </section>
</div>
<i class="bi bi-arrow-down-circle-fill display-6 d-flex justify-content-center text-warning py-4"></i>